{% extends "base.html" %}

{% block app_content %}
<div>
  <a href="{{ url_for('index') }}">Home</a>
</div>
<div>
  <div>
    Edit Dashboard {{ dashboard_name }}
</div>
</div>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <span>
    <select class="custom-select" multiple>
      {% for data_str in get_data_streams_head() %}
      <option value="{{ loop.index }}">{{ data_str.name }}</option>
      {% endfor %}
    </select>
  </span>
    <button type="submit" class="btn btn-primary"><img src="{{ url_for('static',filename='bootstrap-icons-1.8.1/record-btn.svg') }}"></button>

</form>

{% endblock %}
