{% extends "base.html" %}

{% block app_content %}
<div>
  <a href="{{ url_for('index') }}">Home</a>
</div>
<h1> Click on a dashboard name to view it </h1>
<div>
  {% for dashboard in get_dashboards()%}
  <div>
    <a href="{{ url_for(action,dashboard_name=dashboard) }}">{{ dashboard }}</a>
  </div>
  {% endfor %}
 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    
{% endblock %}
