{% extends "base.html" %}

{% block app_content %}
<div>
  <a href="{{ url_for('index') }}">Home</a>
</div>
<h4>Click on a dashboard name to view it</h4>

<div class="container">
  {% for dashboard in get_dashboards()%}
      <div class="row">
	<div class="col-xs-8">
	  <a class="list-group-item list-group-item-action" href="{{ url_for('dashboard_view',dashboard_name=dashboard) }}">{{ dashboard }}</a>
	</div>
	<div class="col-xs-4">
	  <a href="{{ url_for('dashboard_edit',dashboard_name=dashboard) }}"><i class="glyphicon glyphicon-edit"></i></a>
	</div>
      </div>
  {% endfor %}
</div>
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    
{% endblock %}
